main {
    text-align: center;
}

h4.utc-time {
    color: #3771A1;
}

#one {
  height: 100vh;
  background-color: #83781B;
}

.btn-primary {
  background-color: #32516A  !important;
  border: none;
  margin: 2.7em;
  height: 5.23em;
  width: 12em;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #29343D !important;
  border: none;
}

.header {
  /* vertical-align: middle; */
}

h2 {
  /* padding-bottom: 0px !important; */
}
